@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, transparent, #cbcbcb 30%),
    url("../public/assets/bg.jpg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
}

::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-track {
  background:#eae8e8;
}

::-webkit-scrollbar-thumb {
  background: #4829f9;
  border-radius: 10px;
}
